<h2>My Trails</h2>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="example-table-container">

    <a routerLink="/dashboard">
      <i class="fas fa-house-user fa-2x"></i>
    </a>

    <mat-form-field appearance="fill">
      <mat-label>Oras:</mat-label>
      <mat-select [(value)]="selectedCity" (matSelectChange)="resetPaging()">
        <mat-option *ngFor="let city of cities | async " [value]="city.code">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="isRoundTrip">Doar Circuit</mat-checkbox>

    <table mat-table [dataSource]="filteredAndPagedIssues" class="example-table" matSort
           matSortActive="massif" matSortDisableClear matSortDirection="desc"
           (matSortChange)="resetPaging()">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="massif">
        <th mat-header-cell *matHeaderCellDef>Masiv</th>
        <td mat-cell *matCellDef="let row">{{row.massif}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let row">{{row.time | duration}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr routerLink="/detail/{{row.id}}" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</div>
