<h2>Plimbari</h2>

<div class="trails-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="trails-list-header">  
    <mat-form-field appearance="fill" class="city-selector">
      <mat-label>In apropierea orasul:</mat-label>
      <mat-select [(value)]="selectedCity" (selectionChange)="onCityChange()">
        <mat-option *ngFor="let city of cities | async " [value]="city.code">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-slide-toggle [(ngModel)]="isRoundTrip">Doar Circuit</mat-slide-toggle>
  </div>

  <div class="trails-table-container">

    <table mat-table [dataSource]="filteredAndPagedIssues" class="example-table" matSort
           matSortActive="massif" matSortDisableClear matSortDirection="desc"
           (matSortChange)="resetPaging()">

      <ng-container matColumnDef="startBlaze">
        <th mat-header-cell *matHeaderCellDef>Marcaj</th>
        <td mat-cell *matCellDef="let row">
          <blaze form="{{row.startBlaze}}" size="lg" caretSize="2x"></blaze>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Traseu</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="massif">
        <th mat-header-cell *matHeaderCellDef>Masiv</th>
        <td mat-cell *matCellDef="let row">{{row.massif}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Timp</th>
        <td mat-cell *matCellDef="let row">{{row.time | duration}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr routerLink="/detail/{{row.id}}" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</div>
