<div *ngIf="trail">
  <h2>
    <blaze form="{{trail.startBlaze}}" size="lg" caretSize="2x"></blaze>
    {{trail.title}}
  </h2>
  <h4>
    <span>Durata: <i> {{trail.time | duration}}</i></span>
    <span *ngIf="trail.reverseTime"> | Intoarcere: <i> {{trail.reverseTime | duration}}</i></span>
    <span class="restrictions" *ngIf="trailDetail?.restrictions"> | <b>{{trailDetail?.restrictions}} </b></span>
  </h4>
  <h4 *ngIf="trail.pointLongList?.length > trail.pointShortList?.length">
    {{trail.pointLongList.join(' - ')}}
  </h4>

  <mat-accordion class="trail-segments-accordion" multi>
    <mat-expansion-panel [expanded]="true" *ngIf="trail.segments && trail.segments.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Etape</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let segment of segments; index as i">
          <segment [trailSegment]="segment"></segment>
          <mat-divider *ngIf="i !== segments.length - 1"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false" *ngIf="images && images.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Imagini</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <gallery [items]="images"></gallery>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" *ngIf="trailDetail?.description">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Descriere</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        {{trailDetail.description}}
      </section>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="trailDetail?.wildlife">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Flora si Fauna</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        {{trailDetail.wildlife}}
      </section>
    </mat-expansion-panel>
  </mat-accordion>

  <button (click)="goBack()">Inapoi</button>
</div>
