<h2>Top Trails</h2>
<div class="trails-menu">
  <a routerLink="/trails/1">
    <div class='caption'>Plimbare</div>
    <i class="fas fa-walking fa-5x"></i>
  </a>
  <a routerLink="/trails/2">
    <div class='caption'>Drumetie de zi</div>
    <i class="fas fa-hiking fa-5x"></i>
  </a>
  <a routerLink="/trails/3">
    <div class='caption'>Weekend Margareta</div>
    <i class="fas fa-home fa-5x"></i>
  </a>
  <a routerLink="/trails/4">
    <div class='caption'>Weekend Stea</div>
    <i class="fas fa-hotel fa-5x"></i>
  </a>
</div>