/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.trails-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #3f525c;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  color: whitesmoke;
  text-align: center;
  min-width: 70px;
  margin: .5rem 1rem;
  box-sizing: border-box;
  /* flexbox */
  flex: 45%;
}

a > div:first-child {
  width: 70%;
}

a .details {
  width: 30%;
  height: 3rem;
}

.caption {
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  a {
    flex: 100%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: black;
}
